## Alunos
Diego Souza - E01131

Hugo Soares - E01381

Kamilah Santos - E01499

In [ ]:
import pandas as pd
import re
import math

In [ ]:
widths = []
headers = []

In [ ]:
#Função para definir o tamanho dos dados em cada coluna da base
def get_width(line):
    s = line.split("\t") #Separa os dados do arquivo pela tabulação
    r = re.search(r"\d", s[2]) # Realiza uma procura por dígito , selecionando a segunda posição do vetor s

    return int(r.group())#Retorna o tamanho dos dados de cada coluna da base a ser utilizada

In [ ]:
#Função para retornar o código das variáveis da base
def get_header(line):
  s = line.split("\t")
  return s[1]

In [ ]:
#Abre o arquivo em modo leitura e insere todos os dados na variável f
with open('input_PNS_2019.txt', 'r', encoding='utf-8') as f:
    for line in f:
       widths.append(get_width(line.strip())) #adiciona no vetor widths o tamanho correspondente a cada coluna
       headers.append(get_header(line.strip()))#adiciona no vetor headers o código da variável correspondente a cada coluna

In [ ]:
#Atribui ao df (dataframe) os dados separados com seus respectivos tamanhos e códigos das variáveis referentes às colunas
df = pd.read_fwf('PNS_2019.txt', widths=widths, header=None, dtype=str)
df.to_csv("base_dados.csv", sep=";", encoding="utf-8", index=False)

In [ ]:
df.columns = headers

In [ ]:
df.head()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,11,1110011,110000016,0001,01,2019,06,1,1,1,...,NaN,NaN,NaN,00118.3,1,18,2,3,2,200368.8
1,11,1110011,110000016,0001,01,2019,06,1,1,0,...,NaN,NaN,NaN,00118.3,1,18,2,3,2,2
2,11,1110011,110000016,0001,01,2019,06,1,1,0,...,NaN,NaN,NaN,00118.3,1,18,2,3,2,2
3,11,1110011,110000016,0001,01,2019,06,1,1,9,...,NaN,NaN,NaN,00118.3,1,18,2,3,2,2
4,11,1110011,110000016,0001,01,2019,06,1,1,9,...,NaN,NaN,NaN,00118.3,1,18,2,3,2,2

In [ ]:
df.shape

(293726, 1088)

In [ ]:
df.describe()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
count,22325,22325,22325,22325,22325,22325,21248,22325,22325,21248,...,269,269,269,21247,21247,21247,21247,21247,21247,21247
unique,3,24,516,15,12,1,15,2,3,3,...,10,73,130,607,10,100,10,10,10,4879
top,12,1210010,130012391,0014,01,2019,03,1,1,0,...,0,41,.2261428,00121.6,3,12,3,0,1,5
freq,8270,3691,77,1556,21248,22325,5122,17444,13352,9415,...,47,13,6,151,2633,491,2415,2632,2502,1781

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22325 entries, 0 to 22324
Columns: 1088 entries, V0001 to VDDATA
dtypes: object(1088)
memory usage: 185.3+ MB

Seleção do tema:

In [ ]:
df['Q092']

0          1
1        NaN
2        NaN
3        NaN
4        NaN
        ...
22320    NaN
22321      2
22322    NaN
22323    NaN
22324    NaN
Name: Q092, Length: 22325, dtype: object

In [ ]:
#Função para contar quantidade de respostas positivas
def conta_respostas_sim(coluna):
  cont_1 = 0
  for i in coluna:
    if not math.isnan(i): 
        if (int(i) == 1 ):
          cont_1 = cont_1 + 1
  return cont_1

In [ ]:
#Função para contar quantidade de respostas negativas
def conta_respostas_nao(coluna):
  cont_2 = 0
  for i in coluna:
    if not math.isnan(i):
        if (int(i) == 2 ):
          cont_2 = cont_2 + 1
  return cont_2

In [ ]:
#Função para contar quantidade de respostas que não responderam
def conta_respostas_vazias(coluna):
  cont_3 = 0
  for i in coluna:
    if (math.isnan(i) == True) :
          cont_3 = cont_3 + 1
  return cont_3

In [ ]:
#Depressão
coluna = 'Q092'
cont_sim = conta_respostas_sim(pd.to_numeric(new_df[coluna]))
cont_nao = conta_respostas_nao(pd.to_numeric(new_df[coluna]))
cont_vazio = conta_respostas_vazias(pd.to_numeric(new_df[coluna]))
print("Depressão: \n")
print("Respostas positivas: " , cont_sim )
print("Respostas negativas: " , cont_nao )
print("Respostas vazias: " , cont_vazio )

Depressão:

Respostas positivas:  387
Respostas negativas:  6074
Respostas vazias:  15864

In [ ]:
for i in pd.to_numeric(df['Q092']):
  print(i, " " , type(i))

Após selecionar o tema do trabalho, depressão, montaremos um dataframe apenas com os atributos que selecionamos e com os registros convenientes.

In [ ]:
# Criação da base de dados com atributos especificos do nosso tema
var_codes = []
with open('codigos_variaveis.txt', 'r', encoding='iso-8859-1') as c:
    for code in c:
        var_codes.append(code.strip())

new_df = df[var_codes].copy()

new_df.to_csv("base_dados_depressao.csv", sep=";", encoding="utf-8", index=False)

In [ ]:
new_df.head()

,V0001,V0026,A02201,C006,C008,C009,C01001,C011,E005,E025,...,V02801,V02802,V029,V034,V03501,V03502,V03503,Y008,H003,VDP001
0,11,1,1,2,055,1,1,1,NaN,NaN,...,2,2,NaN,NaN,NaN,NaN,NaN,1,2,3
1,11,1,1,1,069,4,1,1,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,11,1,1,1,031,2,2,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,11,1,1,1,009,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,11,1,1,2,006,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [ ]:
new_df.describe()

,V0001,V0026,A02201,C006,C008,C009,C01001,C011,E005,E025,...,V02801,V02802,V029,V034,V03501,V03502,V03503,Y008,H003,VDP001
count,54797,54797,52029,52029,52029,52029,43634,43634,18111,2249,...,14199,14199,121,2429,671,2429,121,14320,3007,52028
unique,6,2,2,2,106,6,2,4,2,4,...,2,2,3,2,2,2,2,6,8,10
top,15,1,1,2,014,4,2,4,2,4,...,2,2,3,2,2,2,2,1,4,3
freq,14393,39405,35965,26400,1037,36660,22119,27696,17709,981,...,13568,13763,59,2139,435,1309,115,13617,1367,5906